#content-script {
}

#content-script .todoDiv {
    position: fixed;
    top: 2%;
    left: 2%;
    font-size: 18px;
    background: rgba(0,0,0,0.4);
    color: white;
    z-index: 2147483647;
}

#content-script .todoList {

}

#content-script .todo {

}

#content-script .todoCount {
    border-radius: 50%;
    background-color: #1eff5b;
    height: 100px;
    width: 100px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    margin-top: 0.5px;
    margin-bottom: 0.5px
}

#content-script .todoForm {

}

#content-script .todoInput {

}

#content-script .todoSubmit {

}